name: Test PowerShell on Windows-2022
on: push

jobs:
  pester-test:
    name: Pester test
    runs-on: windows-2022
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Install requirements
        shell: pwsh
        run: |
          .\ci\Install.ps1
      - name: Perform a Pester test from the Tests.ps1 file
        shell: pwsh
        run: |
          .\ci\Tests.ps1
